
.layout_container{
  background: rgb(21,54,29);
  background: linear-gradient(180deg, rgba(21,54,29,1) 0%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 68%, rgba(21,54,29,1) 100%);  grid-template-areas: 'header'
                       'main'
                       'footer';
  grid-template-rows: 100px 1fr 100px;
  min-height: 100vh;
}

.layout_main_container {
  display: grid;
  place-items: center;
  margin: 20px;
  grid-area: main;
}


