.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  align-items: center;
}

.header_logo {
  text-decoration: none;
  color:white;
}
.headear_logo__image{
  height: 80px;;
}

@media (min-width:600px) { 
  .header {
    grid-template-columns: 0.5fr 1fr 0.5fr;

  }
}